$almost-black: #333;

nav {
  background-color: #fff;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .1);
  ul a, a {
    color: $almost-black;
    transition: color .2s;
  }
  ul {
    a:hover {
      background-color: transparent;
      color: $primary-color;
    }
    li.active {
      background-color: transparent;
      > a {
        color: $primary-color; 
      }
    }
  }
  .sidenav-trigger {
    position: absolute;
    margin: 0 15px;
    &:hover {
      color: initial;
    }
  }
}

.brand-logo img {
  vertical-align: sub;
}

.dropdown-trigger {
  display: flex;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
  margin-right: 15px;
  border-radius: 50%;
}

.dropdown-content {
  border-radius: .5rem;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .1);
  li {
    &:hover {
      background-color: transparent;
    }
    &.divider:hover {
      background-color: #e0e0e0;
    }
    > a {
      color: $almost-black;
      > i {
        margin-right: 16px;
      }
    }
  }
}

input.browser-default {
  border: none;
  outline: none;
  background-color: transparent;
}

.searchbar {
  position: relative;
  height: 100%;
  width: 10%;
  background-color: #fff;
  z-index: 1;
  transition: all .2s ease-in-out;
  &.active {
    width: 100%;
    @media #{$large-and-up} {
      width: 300px;
      .search-wrapper {
        padding: 0 15px;
      }
    }
    .search-field {
      width: 100%;
      background-color: #F5F6F7;
      a.search-icon {
        margin-right: 0;
      }
    }
  }
}

.search-wrapper, .search-field, .search-field a {
  display: flex;
  align-items: center;
}

.search-wrapper {
  justify-content: flex-end;
  padding: 0 10px;
  transition: all .2s ease-in-out;
  @media #{$large-and-up} {
    padding: 0 7px;
  }
}

.search-field {
  justify-content: space-between;
  height: 34px;
  width: 30px;
  border-radius: 5rem;
  overflow: hidden;
  transition: all .2s ease-in-out;
  input {
    width: 100%;
  }
  a {
    justify-content: center;
    height: 34px;
    width: 40px;
    border-radius: inherit;
    cursor: pointer;
    @media #{$large-and-up} {
      width: 45px;
    }
    &.search-icon {
      margin-right: 10px;
    }
    i {
      height: auto;
      line-height: initial;
    }
  }
}

.search-popup {
  position: absolute;
  top: 105%;
  width: 100%;
  display: none;
  &.active {
    display: block;
  }
  ul.search-suggestion {
    display: grid;
    margin: 0 10px;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .1);
    @media #{$large-and-up} {
      margin: 0 15px;
    }
    li {
      line-height: initial;
      transition: background .2s ease-in-out;
      &:first-child, &:first-child a {
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
      }
      &:last-child, &:last-child a {
        border-bottom-left-radius: inherit;
        border-bottom-right-radius: inherit;
      }
      &:hover {
        background-color: #F5F6F7;
        a {
          color: initial;
        }
      }
    }
    a {
      width: 100%;
      padding: 15px;
    }
  }
}

.sidenav {
  li > a, .collapsible-body li a {
    padding: 0 16px;
    i.material-icons {
      margin-right: 16px;
    }
  }
  li {
    &.active {
      background-color: #F5F6F7;
    }
    > a {
      color: $almost-black;
      transition: background .2s ease-in-out;
      &:hover {
        background-color: #F5F6F7;
      }
    }
  }
  .user-view {
    margin: 0;
    padding: 0;
    line-height: initial;
    .avatar {
      padding: 1.5rem 0;
    }
    .circle {
      height: 80px;
      width: 80px;
      margin: 0 auto;
    }
    .collapsible > li {
      border-top: 1px solid #e0e0e0;
      border-bottom: 1px solid #e0e0e0;
      transition: border .2s ease-in-out;
      &.active {
        border-top: 1px solid #F5F6F7;
      }
    }
    .collapsible-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      line-height: initial;
      padding: 14px 8px 16px 16px;
      div {
        width: 88%;
      }
      p, i {
        margin: 0;
      }
      i {
        transition: .2s ease-in-out;
      }
    }
  }
  .collapsible-header {
    transition: background .2s ease-in-out;
    &:hover {
      background-color: #F5F6F7;
    }
  }
  .divider {
    margin: 0;
  }
  ul.sub-menu > li > a {
    padding: 0 16px 0 56px;
  }
}

.page-footer {
  padding-top: 0;
  .footer-text, .footer-copyright {
    padding: 0 15px;
  }
  .social {
    display: flex;
    .btn-floating {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      box-shadow: none;
      margin: 0 5px;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}