* {
	&::-webkit-scrollbar {
    width: 8px;
	}
  &::-webkit-scrollbar-track {
    background: #F5F6F7;
  }
  &::-webkit-scrollbar-thumb {
		background: rgba(0, 0, 0, .4);
    border-radius: 25px;
    &:hover {
      background: rgba(0, 0, 0, .5);
    }
  }
  &::selection {
    color: #fff;
    background-color: color('deep-purple', 'lighten-3');
  }
}

#app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}